_output/
_plots/
!_input*

_results/*
!_results/_scripts_DART/

gis/*
!gis/slab_dtopo_list2run4footprint.csv
!gis/slab_dtopo_list2run.csv
!gis/Historic.csv

_tsunami/*


bin/*
lib/*

__pycache__

xgeoclaw

*.png
.data
*.log
*.out